.m_sbicon_med {
background:transparent url(images/service_med_icons.png) no-repeat scroll 0 0;width: 100px;height: 35px;border: none;margin-top:4px;margin-left:2px;
}
.m_donkeytopic {
background-image: none;
}
.m_google {
background-position:0 0px;
}
.m_delicious {
background-position:0 -36px;
}
.m_facebook {
background-position:0 -76px;
}
.m_myspace {
background-position:0 -119px;
}
.m_stumbleupon {
background-position:0 -157px;
}
.m_twitter {
background-position:0 -197px;
}
.m_digg {
background-position:0 -236px;
}
.m_yahoo {
background-position:0 -270px;
}
.m_blinklist {
background-position:0 -305px;
}
.m_newsvine {
background-position:0 -345px;
}
.m_reddit {
background-position:0 -461px;
}
.m_technorati {
background-position:0 -580px;
}
.m_windowslive {
background-position:0 -501px;
}
.m_squidoo {
background-position:0 -619px;
}
.m_fark {
background-position:0 -542px;
}
.m_swik {
background-position:0 -693px;
}
.m_faves {
background-position:0 -383px;
}
.m_blogmarks {
background-position:0 -423px;
}
.m_diigo {
background-position:0 -654px;
}