.mlg_sbicon_med {
background:transparent url(images/service_medlg_icons.png) no-repeat scroll 0 0;width: 36px;height: 36px;border: none;margin-top:4px;margin-left:2px;
}
.mlg_donkeytopic {
background-image: none;
}
.mlg_google {
background-position:0 0px;
}
.mlg_delicious {
background-position:0 -631px;
}
.mlg_facebook {
background-position:0 -41px;
}
.mlg_myspace {
background-position:0 -126px;
}
.mlg_stumbleupon {
background-position:0 -336px;
}
.mlg_twitter {
background-position:0 -546px;
}
.mlg_digg {
background-position:0 -83px;
}
.mlg_yahoo {
background-position:0 -588px;
}
.mlg_blinklist {
background-position:0 -378px;
}
.mlg_newsvine {
background-position:0 -209px;
}
.mlg_reddit {
background-position:0 -294px;
}
.mlg_technorati {
background-position:0 -167px;
}
.mlg_windowslive {
background-position:0 -504px;
}
.mlg_squidoo {
background-position:0 -252px;
}
.mlg_fark {
background-position:0 -673px;
}
.mlg_swik {
background-position:0 -717px;
}
.mlg_faves {
background-position:0 -761px;
}
.mlg_blogmarks {
background-position:0 -462px;
}
.mlg_diigo {
background-position:0 -420px;
}